<div class="container">
    <div class="row" style="margin-top: 119px;">
        <div class="col-md-12 col-sm-12">
            <img style="width: 118px;" class="rounded mx-auto d-block" src="../../assets/img/logo.jpg" alt="">
            <h5 class="dh text-center">މާލެ ސިޓީ ކައުންސިލްގެ އިދާރާ ،ވޯޓް ސިސްޓަމް</h5>
        </div>
    </div>
    <div class="row text-center ">
        <div class=" col-sm-12 col-md-4 form-group   container">
            <input type="text" placeholder="ލޮގްއިން ނަން" class="form-control dh text-center" name="" id="">
        </div>
    </div>
 
    <div class="row " style="margin-top: 10px;">
        <div class=" col-sm-12 col-md-4 form-group  container">
            <input type="password" placeholder="ޕާސްވޯޑް" class="form-control dh text-center" name="" id="">
        </div>
    </div>
    <div class="row " style="margin-top: 10px;">
        <div class=" col-sm-12 col-md-4 form-group  container">
            <button class=" dh btn-lg btn-primary" style="width: 100%;">ލޮގްއިން</button>
        </div>
    </div>
</div>