<div class="container-fluid">
    <div class="row">
       
        <div class="col-md-2" style="height: 100vh;background-color: #232e4a;">
<div class="row" style="    background-color: hsl(0deg 0% 0% / 50%);    height: 95px;padding-top: 20px;">
    <div class="col-md-12">
        <h4 class="dh text-center" style="font-weight: bolder;color: whitesmoke;">ސިޓީ ހައުލްސިލްގެ  ދުވަ ބައްދަލުވުން</h4>
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <ul >
        <li class="dh" style="font-size: 21px;color: whitesmoke;list-style-type: none;">
          <a routerLink="/main" routerLinkActive="active" class="" style="text-decoration: none;color: whitesmoke;">

              <i style="" class="material-icons">business</i> އެޖެންޑާ   
          </a>
          
          
          </li>
        <hr>
        <a routerLink="register-user" routerLinkActive="active" class="" style="text-decoration: none;color: whitesmoke;">
          <li class="dh" style="font-size: 21px;color: whitesmoke;list-style-type: none;">  <i style="" class="material-icons">person</i> ރަޖިސްޓްރީ ކުރުން</li>
        </a>
       
        <hr>
        <li class="dh" style="font-size: 21px;color: whitesmoke;list-style-type: none;"> <i style="" class="material-icons">exit_to_app</i> ލޮގް އުްޓް  </li>
    </ul>
</div>
         
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
